<div class="progress">
  <div class="progress__bar--indeterminate is-hidden"></div>
</div>
<section id="contact" class="c-footer__contact">
  <h3 class="c-footer__title">Contact Me</h3>
  <p>Got any questions, let me know.
  <form id="contact-form" class="c-form">
    <div class="c-form__input-group">
      <div class="c-form__input-control">
        <input id="name" class="c-form__input-field" name="name" placeholder=" " required>
        <label class="c-form__input-label" for=name>Name</label>
      </div>
      <div class="c-form__input-control">
        <input id="email" class="c-form__input-field" name="_replyto" type="email" placeholder=" " required>
        <label class="c-form__input-label" class="c-form__input" for=email>Email</label>
      </div>
      <div class="c-form__input-control">
        <input id="subject" class="c-form__input-field" name="_subject" placeholder=" " required>
        <label class="c-form__input-label" for="subject">Subject</label>
      </div>
    </div>
    <div class="c-form__input-group">
      <div class="c-form__input-control">
        <textarea id="message" class="c-form__input-field c-form__input-field--tall" name="message"
                  placeholder=" "></textarea>
        <label class="c-form__input-label" for="message">Message</label>
      </div>
    </div>
    <div class="c-form__input-group">
      <div class="c-form__input-control">
        <button class="button c-form__submit">
          Send
        </button>
      </div>
    </div>
    <div class="g-recaptcha"
         data-sitekey="6Le69kIUAAAAANDaWrLPC_R1xfH9-OGI2JS9QYLJ"
         data-size="invisible">
    </div>
  </form>
</section>
<section class="footer__copyright">

</section>
