// Variables
// =================================================
@import '~normalize.css';
@import 'variables';
@import 'typography';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/nav-menu';
@import 'blocks/form';
@import 'blocks/portfolio';
@import 'blocks/portfolio-archive';
@import 'blocks/technology';
@import 'blocks/section';
@import 'blocks/button';
@import 'blocks/states';
@import 'blocks/tooltip';
@import 'helpers';

html {
  font-size: 15px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #242424;
  margin: 0;
  padding: 0;
}

.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}