.projects {
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  .project-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    transition: all .4s;
    height: 25vw;
    width: 33.33333%;
    -ms-flex-align: center;
    align-items: center;
    &:hover {
      z-index: 1;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
      &:nth-child(3n -2) {
        -webkit-transform: translateX(10%) scale(1.2);
        transform: translateX(10%) scale(1.2);
      }
      &:nth-child(3n) {
        -webkit-transform: translateX(-10%) scale(1.2);
        transform: translateX(-10%) scale(1.2);
      }
    }
    img {
      margin: 0 auto;
      max-width: 80%;
      max-height: 80%;
      transition: all .4s ease;
    }
  }
}

@media only screen and (max-width: 1026px) {
  header .title-container {
    max-width: 80%;
    h1 {
      font-size: 3.6rem;
      .intro-span {
        width: 100%;
      }
    }
  }
  .about {
    padding: 2rem 4rem;
    img {
      padding: 2rem auto;
      max-width: 100%;
      width: 100%;
    }
  }
  .projects .project-container {
    height: 40vh;
    width: 50%;
    &:hover {
      -webkit-transform: none;
      transform: none;
      &:nth-child(3n), &:nth-child(3n -2) {
        -webkit-transform: none;
        transform: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header .title-container {
    max-width: 90%;
    h1 {
      font-size: 3.2rem;
      .intro-span {
        width: 100%;
      }
    }
  }
  .about {
    padding: 2rem;
    img {
      padding: 2rem 0;
      max-width: 100%;
    }
  }
  .projects .project-container {
    height: 50vh;
    width: 100%;
  }
}