header {
  grid-template: "a";
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -ms-flex-align: center;
  align-items: center;
  h1.title {
    color: #fafafa;
  }
}

.wip {
  color: #ff8c00;
}

.complete {
  color: #228b22;
}

.tooltip {
  float: left;
  position: relative;
  text-align: center;
  .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -1.5rem;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 1s;
    &.status {
      top: -3rem;
    }
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #000 transparent transparent;
    }
  }
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.details {
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  display: flex;
  .images {
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .info {
    width: 50%;
    padding: 2rem;
    .tech {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 2rem 0;
      img {
        max-height: 100px;
        margin: 1rem;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 1026px) {
  .details {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .images {
      max-height: 70vh;
      width: 100%;
    }
    .info {
      width: 100%;
      > .tooltip {
        width: 100% !important;
      }
    }
  }
}