<!doctype html>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=description
      content="My name is Byron, and I'm a Web Developer. I specialise in building web based applications, whether they are for desktops, laptops tablets or mobiles. I have backgrounds in working with both Front End and Back End aspects of applications">
<meta name=viewport content="width=device-width,initial-scale=1"><title>Byron Fitzgerald - Web Developer</title>
<meta name=msapplication-tap-highlight content=no>
<link rel=manifest href=manifest.json>
<meta name=mobile-web-app-capable content=yes>
<meta name=application-name content="Web Starter Kit">
<link rel=icon sizes=192x192 href=images/touch/chrome-touch-icon-192x192.png>
<meta name=apple-mobile-web-app-capable content=yes>
<meta name=apple-mobile-web-app-status-bar-style content=black>
<meta name=apple-mobile-web-app-title content="Web Starter Kit">
<link rel=apple-touch-icon href=images/touch/apple-touch-icon.png>
<meta name=msapplication-TileImage content=images/touch/ms-touch-icon-144x144-precomposed.png>
<meta name=msapplication-TileColor content=#2F3BA2>
<meta name=theme-color content=#2F3BA2>
<link rel=stylesheet href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel=stylesheet href=styles/normalize.css>
<link rel=stylesheet href=styles/main.css>
<link rel=stylesheet href=styles/home.css>
<div id=email-success class="email-alert success"><p>Email Sent Successfully</div>
<div id=email-error class="email-alert error"><p>Error Sending Email</div>
<nav class=transparent>
  <ul>
    <li><a href=#about>About</a>
    <li><a href=#work>Work</a>
    <li><a href=#contact>Contact</a>
  </ul>
  <ul>
    <li><a href=https://github.com/bdfitzgerald><i class="fa fa-2x fa-github"></i></a>
  </ul>
</nav>
<header>
  <div class=dark-overlay></div>
  <div class="container title-container center-align valign"><h1><span
    class="intro-span z-depth-1">Byron Fitzgerald</span><span class=intro-end>Web Developer</span></h1>
    <h2 class="down-arrow animated fadeInDown"><a class="btn-floating btn-large pulse" href=#about><i
      class=material-icons>keyboard_arrow_down</i></a></h2></div>
</header>
<main>
  <section id=about class=about><h3 class=center-align>About Me</h3>
    <p class=flow-text><img src=/images/byron.jpg> Hello. My name is Byron, and I'm a Web Developer. Currently I work as
      the Head Developer of <a href=https://www.lowaire.com>Lowaire Digital</a>. I specialise in building web based
      applications, whether they are for desktops, laptops tablets or mobiles. I have backgrounds in working with both
      Front End and Back End aspects of applications. Recently I have started delving into the world of AI, and
      incorporating them into my applications or utilising Amazon Alexa or Google Assistant platforms to build engaging
      voice based apps. Before I started programming I was involved with the RAF volunteer reserves as an Officer Cadet
      working my way to a full career in the armed forces. This taught me many valuable lessons and skills which I use
      daily to manage my time, interact with clients or plan projects</section>
  <section id=work class=projects><a href=monster-numbers class="project-container monster-numbers"><img
    src=/images/portfolio/monster-numbers.png> </a><a href=monzo class="project-container monzo"><img
    src=/images/portfolio/monzo-inverse.svg> </a><a href=lion-king class="project-container lion-king"><img
    src=/images/portfolio/lion-king.png> </a><a href=stunningpr class="project-container stunningpr"><img
    src=/images/portfolio/stunningpr.png> </a><a href=gw2 class="project-container gw2"><img
    src=/images/portfolio/gw2.png> </a><a href=emuas class="project-container emuas"><img
    src=/images/portfolio/emuas.png></a></section>
</main>
<footer id=footer>
  <div class=progress>
    <div class=indeterminate></div>
  </div>
  <section id=contact class=contact><h3 class=title>Contact Me</h3>
    <p>Got any questions, let me know.
    <form id=contact-form>
      <div class=input-area>
        <div class=input-group><input id=name name=name placeholder=" " required><label for=name>Name</label></div>
        <div class=input-group><input id=email name=_replyto type=email placeholder=" " required><label
          for=email>Email</label></div>
        <div class=input-group><input id=subject name=_subject placeholder=" " required><label
          for=subject>Subject</label></div>
      </div>
      <div class=input-area>
        <div class=input-group><textarea id=message name=message placeholder=" "></textarea><label
          for=message>Message</label></div>
      </div>
      <input id=honeypot name=honeypot placeholder=" " style=display:none>
      <div class=input-area>
        <button name=submit>Send</button>
      </div>
    </form>
  </section>
  <section class=copyright></section>
</footer>
<script src=scripts/main.min.js></script>
<script src=scripts/smooth-scroll.js></script>
<script src=https://use.fontawesome.com/dc5bad6433.js></script>
<script>var scroll = new SmoothScroll( 'a[href*="#"]', {
  offset: 79,
  after: function () {
    document.getElementsByTagName( 'nav' )[ 0 ].className = '';
  }
} );</script>
<script>( function ( i, s, o, g, r, a, m ) {
  i[ 'GoogleAnalyticsObject' ] = r;
  i[ r ] = i[ r ] || function () {
    ( i[ r ].q = i[ r ].q || [] ).push( arguments )
  }, i[ r ].l = 1 * new Date();
  a = s.createElement( o ),
    m = s.getElementsByTagName( o )[ 0 ];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore( a, m )
} )( window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga' );
ga( 'create', 'UA-75295593-2', 'auto' );
ga( 'send', 'pageview' );</script>