{% extends "base.twig" %}

{% block content %}
  <section id="about" class="c-section">
    <h3 class="c-section_title">{{ post.title }}</h3>
    {% if post.thumbnail %}
      <img class="c-section__image" src="{{ post.thumbnail.src }}">
    {% endif %}
    <article class="c-section__content">
      {{ post.content }}
    </article>
  </section>
{% endblock %}